---
import content from "../data";

import Content from "../components/Content";

import "../global.css"
---

<!DOCTYPE html>
<html lang="en">
  <body>
    <Content content={content} />
  </body>
</html>
